:root {
  background-color: teal;
  font: 16px / 1 sans-serif;
  color: white;
}

html {
  height: 100%;
}

body {
  width: 40rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15rem;
}

.player-card {
  width: 12.5rem;
  height: 12.5rem;
  margin: 1.25rem;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  line-height: 12.5rem;
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
}

.player-card:nth-child(2) {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

button {
  width: 25rem;
  border: 2px solid #fff;
  margin: 1.25rem auto;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 1rem;
}

.gameTable {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 2px red solid;
  margin-top: 30rem;
}

p {
  text-align: center;
}
